#footer
{
    clear: both;
    padding: 0;
    text-align: left;
    vertical-align: bottom;
    line-height: normal;
    margin: 0;
	padding-left:5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
	background-color: #ffffff;
	border-top:solid 2px #999999;
}
#right {
	float:left;
	margin-left:80%;
	position:fixed;
}

body {
	xbackground-color: #e1ddd9;
	font-size: 11pt;
	font-family: Helvetica, Arial, Sans;
	padding:0;
	margin:0;
	
	}
	
li {
	list-style-type:none;
}
#center {
	float:left;
	width:50%;
	background:#fff;
	padding-bottom:20px;
}

#content {
	border-bottom-color: rgb(0, 0, 0);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-style: none;
border-top-width: 0px;
color: rgb(0, 0, 0);
display: block;
font-family: 'Times New Roman';
font-size: 16px;
font-style: normal;
font-weight: normal;
height: 502px;
line-height: 16px;
margin-bottom: 0px;
margin-left: 461.5px;
margin-right: 461.5px;
margin-top: 0px;
min-height: 100%;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: baseline;
width: 980px;
zoom: 1;
}

h1 {
border-bottom-color: rgb(17, 17, 17);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(17, 17, 17);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(17, 17, 17);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(17, 17, 17);
border-top-style: none;
border-top-width: 0px;
color: rgb(17, 17, 17);
display: block;
font-size: 24px;
font-style: normal;
font-weight: normal;
height: 20px;
letter-spacing: normal;
line-height: 20px;
margin-bottom: 15px;
margin-left: 0px;
margin-right: 0px;
margin-top: 15px;
outline-color: rgb(17, 17, 17);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: baseline;
width: 700px;
zoom: 1;
}


code
{	
	font-size:10pt;
	color:black;
	font-family:Courier New, Courier, Mono;	
	background-color:#e1ddd9;
}

pre
{
	margin-left:5%;
	background:solid;
	background-color:#e1ddd9;
	width:90%;
}